#slideshow {
  margin: 50px auto;
  position: relative;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  height: 504px;
  overflow: hidden;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
